<script type="text/javascript"> 
    $.cloudinary.config({ cloud_name: '<%= process.env.CLOUDINARY_CLOUD_NAME %>', secure: true});
</script>
<% if (isUserSignedIn) { %> 
    <form action="/imageUrls/upload" method="POST" enctype="multipart/form-data" class="shadow-sm p-3 bg-body-tertiary rounded row p-4 mx-5 my-2 bg-opacity-75 border border-dark-subtle needs-validation">
        <div class="col-lg-6 mx-auto" style="max-height: 25%;">
    
            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-dark shadow-sm">
                <input id="upload" type="file" name="image" onchange="readURL(this);" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-light">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> 
                    <i class="fa-regular fa-image me-2 text-muted"></i>
                    <small class="text-uppercase font-weight-bold text-muted text-light">Choose file</small></label>
                </div>
            </div>
            <!-- Uploaded image area-->
            <div class="image-area mt-4">
                <img id="imageResult" alt="" class="img-thumbnail rounded mx-auto d-block shadow-sm" style="max-height: 30rem;">
            </div>
            <div class="d-flex flex-wrap flex-column align-items-center align-self-center align-content-center mt-5">
                <label for="customized_id" class="fs-6 fw-medium">Customized Url Name </label>
                <input placeholder="Enter a customized url name" type="text" name="customized_id" class="form-control col border border-2 <%= locals.error ? 'is-invalid border-danger' : 'border-dark-subtle' %>" >
                <div class="invalid-feedback">
                    <%= locals.error %>
                </div>
            </div>
            <div class="justify-content-center d-flex" id="upload-button">
                <button class="btn btn-primary mt-5 px-5">
                    Upload
                </button>
            </div>
            
        </div>
    </form>
 <% } %>

<main class="container-fluid py-5" style="max-height: 75%">
    <%- include("./contentHeader", {page: 'image'}) %>
    <section class="d-flex flex-row justify-content-center align-self-center flex-wrap column-gap-3 row-gap-4">
        <% if (locals.images) {%>
            <% let i = 0; %>
            <% for(i = 0; i < images.length; i++) { %>
                <%- include("./imageCard", {image: images[i]}) %>
            <% } %>
        <% } %>
    </section>
</main>

<script>
	const showFileName = () => {
        const input = document.getElementById('upload');
	    const infoArea = document.getElementById('upload-label');
        const inputtedFile = event.srcElement;
		const fileName = input.files[0].name;
		infoArea.textContent = 'File name: ' + fileName;
	}
    const readURL = (input) => {
		if (input.files && input.files[0]) {
        	const reader = new FileReader();
			reader.onload = function (e) {
				$('#imageResult').attr('src', e.target.result);
			};
			reader.readAsDataURL(input.files[0]);
			}
            showFileName()
        }
  </script>