<%- include("templates/header", {title: 'Text', textUrls: true}) %>
<main class="container d-flex justify-content-center align-items-center flex-column vh-100 vw-100">
   <div id="margin" class="text-primary-emphasis fw-semibold edit-text fs-4" style="width: 700px;">Title: <%= title %></div>
   <div class="edit-text paper text-primary-emphasis" 
      style="overflow: hidden; word-wrap: break-word; resize: none; height: auto; max-width: 700px;
         min-width: 600px;">
    <%= content %>
    <section class="fs-6 text-primary">
      <div style="color: transparent;"> Empty Space </div>
      <div> Author: <%= username %> </div>
      <div> Date Created: <%= date_created %> </div>
    </section>
   </div>
   <div class="d-flex justify-content-between my-3" style="width: 700px;">
      <div>
         <a class="btn btn-primary" href="/home?text=true"> Home </a>
      </div>
   <% if (owner){ %>
      <% if (is_active === 1) { %>
          <form action="/textUrls/deactivate" method="POST">
              <input type="hidden" name="url_info_id" value="<%= url_info_id %>"/>
              <input type="hidden" name="text_id" value="<%= text_id %>"/>
              <button class="btn btn-danger"> Deactivate </button>
          </form>
      <% } else { %>
          <form action="/textUrls/activate" method="POST">
              <input type="hidden" name="url_info_id" value="<%= url_info_id %>"/>
              <input type="hidden" name="text_id" value="<%= text_id %>"/>
              <button class="btn btn-success"> Activate </button>
          </form>
      <% } %>
  <% } %>
   </div>
</main>
<%- include("templates/footer") %>